.setpassword-table {
  border: 1px solid #ffffff;
  box-shadow: 0 0 15px #cccccc;
  /* height: 100vh; */
  justify-content: center;
  background-color: white;
  margin: 0px !important;
}
.setpassword-content {
  border: 1px solid #cccccc;
  box-shadow: 0 0 15px #cccccc;
  width: 100vh;
  height: 450px;
  display: flex;

  /* border: 1px solid black; */

  justify-content: left;
  padding: 0px 50px;
  margin: 80px 20px;
}
.changePassword-title {
  padding-top: 20px;
  color: rgb(15, 15, 77);
  margin-left: 100px !important;
}
/* .setpassword-lable {
  padding: 5px 10px;
  width: 400px;
  height: 30px;

  border: 1px solid rgb(27, 27, 79);
} */

.btn-title {
  margin-top: 30px;
  margin-left: 10px;
  width: 180px;
  background-color: rgb(15, 15, 77) !important;
}
.password {
  float: left;
}
.setpassword {
  float: right !important;
  color: rgb(15, 15, 77);
  margin-left: 20px;
  font-weight: 400;
  font-size: small;
}
