h4, .h4 {
    font-size: 32px;
    margin-bottom: 14px;
    margin-top: -8px;
}
h4, .h4{
    font-weight: 400;
    color: #262626;
    line-height: 1.2;
}
p {
    margin-bottom: 15px;
}
p {
    margin-top: 0;
  
}
body {
    color: #757575;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}
// .sp-y {
//     padding: 120px 0;
// }

// @media only screen and (min-width: 768px) and (max-width: 991.98px) {
//     .sp-y {
//         padding: 90px 0;
//     }
// }

// @media only screen and (max-width: 767.98px) {
//     .sp-y {
//         padding: 60px 0;
//     }
// }

// @media only screen and (min-width: 768px) and (max-width: 991.98px) {
//     .sp-y-md {
//         padding: 90px 0;
//     }
// }

// @media only screen and (max-width: 767.98px) {
//     .sp-y-sm {
//         padding: 60px 0;
//     }
// }
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
.map-area-wrap {
    height: 100%;
}

@media only screen and (max-width: 767.98px) {
    .map-area-wrap {
        height: 350px;
        margin-bottom: 40px;
    }
}
.h-100 {
    height: 100% !important
}
.comment-area-wrapper {
    
    border-top: 1px solid #e1e1e1;
    
}

.comment-area-wrapper h3 {
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 0;
}
.p-0 {
    padding: 0 !important
}
.m-0 {
    margin: 0 !important
}
.comment-area-wrapper .form-input-item {
    margin-top: 30px;
}

.comment-area-wrapper .form-input-item input, .comment-area-wrapper .form-input-item textarea {
    background-color: #EEEEEE;
    padding: 10px 20px;
    border: 1px solid #EEEEEE;
}

.form-input-item input, .form-input-item textarea {
   
    color: #757575;
    display: block;
    font-size: 16px;
    width: 100%;
}
.mt-40 {
    margin-top: 40px;
}
.btn-hvr-brand {
    border-color: #ff9326;
    color: #ff9326;
}
.btn {
    border-radius: 0;
    color: #ff9326;
    display: inline-block;
    padding: 18px 45px;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
    outline: none;
    letter-spacing: 1.75px;
    position: relative;
}
.btn-hvr-brand:hover {
    background-color: #ff9326;
    border-color: #ff9326;
    color: #FFFFFF;
}