.padding-bottom-60 {
    padding-bottom: 60px !important;
}
body div {
    outline: none;
    box-shadow: none;
}
.service4 ul li {
    font-size: 16px;
    font-family: Tahoma;
    color: #333;
    margin: 0 0 15px;
}

.service4 ul li span {
    color: #f3aa72;
    float: right;
}

.service4 h5 {
    font-family: Josefin Sans;
    color: #333333;
    font-size: 24px;
    font-weight: 600;
    padding: 0 44px 20px;
    border-bottom: 2px solid #f3aa72;
    display: table;
    margin: 0 auto 30px;
}
.service4 ul li {
    font-size: 13px;
    list-style-type: none;

    
}
.service4 h5 {
    padding: 0 20px 20px;
}
.section-head3 h3 {
    font-size: 40px;
    font-family: Kaushan Script;
    color: #77a47b;
    margin: 0 0 7px;
}

.section-head3 p {
    font-size: 18px;
    line-height: 24px;
    font-family: Josefin Sans;
    font-weight: 600;
}
.margin-bottom-60 {
    margin-bottom: 60px !important;
}
.cta4 {
    background: url(../../assets/images/samples/2.jpg) no-repeat center;
    background-size: cover;
}

.cta4 h4 {
    color: white;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 40px;
}

.cta4 h4 span {
    display: block;
    font-size: 20px;
    margin-top: 5px;
}

.cta4 a {
    font-size: 16px;
    color: white;
    font-family: Josefin Sans;
    font-weight: 600;
    line-height: 41px;
    border: 2px solid white;
    display: inline-block;
    padding: 0 47px;
    border-radius: 41px;
    float: right;
    margin-top: 12px;
}

.cta4 a:hover {
    background: white;
    color: #333;
}
.padding-vertical-50
 {
    padding-top: 50px !important;
}
.padding-vertical-50{
    padding-bottom: 50px !important;
}
.padding-horizontal-60 {
    padding-left: 60px !important;
}
.padding-horizontal-60{
    padding-right: 60px !important;
}
.padding-top-60 {
    padding-top: 60px !important;
}
.padding-bottom-80 {
    padding-bottom: 80px !important;
}